<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tulp</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/one-page-wonder.css" rel="stylesheet">
    <link href="css/ngToast.min.css" rel="stylesheet">
    <link href="css/ngToast-animations.min.css" rel="stylesheet">
    

</head>

<body>
    <div ng-app="myApp" ng-controller="myCtrl" ng-cloak>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" ng-show="loading" ng-cloak>{{name}}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a onclick="mover()" >Friends</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ng-show="loading" ng-cloak>{{email}}</a>
                    </li>
                </ul>
            </div>
            
            <!-- /.navbar-collapse -->
        </div>
        
        <!-- /.container -->
    </nav>
        
        
    <toast></toast>
    <!-- Full Width Image Header -->
    <header class="header-image" style="background:{{imagen}}">
        <div class="headline">
            <div class="container" id="perfil" style="{{profilePossition}}">
                <div class="circulo"></div>
                <p class='importante' id='categoria' ng-show="loading" ng-cloak>{{perfil}}</p>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container" >

        <hr class="featurette-divider">
        <!-- First Featurette -->
        <div class="featurette" id="/friends">
            <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Points</th>
                    <th>Email</th>
                    <th>Give</th>
                  </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in friends" >
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Add friend by email" ng-model="busqEmail">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="addFriend()" >Add</button>
                          </span>
                        </div>
                    </tr>
                    <tr ng-repeat="x in friends" >
                        <td>{{x.split("#")[0]}}</td>
                        <td>{{x.split("#")[1]}}</td>
                        <td>{{x.split("#")[2]}}</td>
                        <td>
                        <div class="input-group"  style="width: 300px; margin-left: 0px;">
                          <span class="input-group-btn">
                              <button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="quant[2]" ng-click="subtractPoints($index)">
                                <span class="glyphicon glyphicon-minus"></span>
                              </button>
                          </span>
                          <input type="text" name="quant[2]" class="form-control input-number"  min="1" ng-model="auxFriends[$index]" max="10">
                          <span class="input-group-btn">
                              <button type="button" class="btn btn-success btn-number" data-type="plus" ng-click="addPoints($index)" data-field="quant[2]">
                                  <span class="glyphicon glyphicon-plus"></span>
                              </button>
                          </span>
                               
                        <span class="input-group-btn">
                            <button type="button" ng-click="sendPoints($index)" class="btn btn-success">Give</button>
                          </span>
                        </div>
                        </td>
                    </tr>
                </tbody>    
            </table>
        </div>

        '<hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Tulp</p>
                </div>
            </div>
        </footer>

    </div>
    </div>
    <!-- /.container -->
    
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/circle-progress.js"></script>
    <script src="js/bootstrap-waitingfor.js"></script>
    <script src="js/ngToast.min.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script>
        var url = "http://tulp-project.appspot.com/";

        var app = angular.module('myApp', ['ngToast']);
        app.controller('myCtrl', function($scope, $http,$location,ngToast) {
            var email = "test@example.com";
            var name = "";
            var puntos = 0;
            var friends = "";
            $scope.loading = false;
            waitingDialog.show();
            $http.get(url+'session').
              success(function(data, status, headers, config) {
                email = data;
                $scope.email = email;       
                $http.get(url+"tulpserver?user="+email).
                  success(function(data, status, headers, config) {
                    if(data!="FAIL"){
                        puntos =data.split("#")[1];
                        name = data.split("#")[0];
                        $scope.name = name;
                        $scope.puntos = puntos;
                        setCircle(puntos);
                        setByPoints(puntos);
                        waitingDialog.hide();
                        $scope.loading = true;
                        loadFriends();
                        $http.get(url+"tulpnotificaciones?user="+email).
                        success(function(data, status, headers, config) {
                            if(data!="null"){
                                for(i = 0; i < data.length; i++){
                                ngToast.create(data[i]);
                            }
                            }
                            }).error(function(data, status, headers, config) {
                        });
                    }
                    else{
                        window.location = url+"presentation.html"
                        
                    }
                  }).
                  error(function(data, status, headers, config) {
                  });
                  }).
              error(function(data, status, headers, config) {
              });
            
            $scope.addFriend = function(){
                $http.post(url+"tulpsearch?busq="+$scope.busqEmail).
                      success(function(data, status, headers, config) {
                        ngToast.create(data);
                        loadFriends();
                        loadPoints();
                    $scope.busqEmail = "";
                      }).
                      error(function(data, status, headers, config) {
                      });
            };
            
            function loadPoints(){
                $http.get(url+"tulpserver?user="+email).
                  success(function(data, status, headers, config) {
                    if(data!="FAIL"){
                        puntos =data.split("#")[1];
                        name = data.split("#")[0];
                        $scope.name = name;
                        $scope.puntos = puntos;
                        setCircle(puntos);
                        setByPoints(puntos);
                    }
                  });
            }
            
            function loadFriends(){
                $http.get(url+"tulpfriends?user="+email).
                          success(function(data, status, headers, config) {   
                            friends = data;
                            $scope.friends = friends;
                            $scope.auxFriends= angular.copy($scope.friends);
                            $scope.auxFriends = emptyArray($scope.auxFriends);

                          }).
                          error(function(data, status, headers, config) {
                          });
            }
            
            
            $scope.addPoints = function(idx){
                if($scope.auxFriends[idx]<10){
                    $scope.auxFriends[idx] +=1;
                }
                
            }
            
            $scope.subtractPoints = function(idx){
                if($scope.auxFriends[idx]+=0){
                    $scope.auxFriends[idx] -=1;
                }
            }
            
            $scope.sendPoints = function(idx){
                $http.post(url+"tulpserver?user="+$scope.friends[idx].split("#")[2]+"&addPoints="+$scope.auxFriends[idx]).
                      success(function(data, status, headers, config) {
                        loadFriends();
                        ngToast.create(data);
                      }).
                      error(function(data, status, headers, config) {
                      });
            }
            
            function setByPoints(puntos){
                if(puntos<100){
                    $scope.imagen= 'url(css/img/mostro.jpg)';
                    setCircle(puntos,0);
                    $scope.perfil = "Mostro  "+ puntos.toString() + "pts" ;
                    $scope.profilePossition = "margin-right:-20%;";
                 }
                 else{
                    if(puntos<200){
                        $scope.imagen= 'url(css/img/maquinola.jpg)';
                        setCircle(puntos,100);
                        $scope.perfil = "Maquinola  "+ puntos.toString() + "pts" ;
                        $scope.profilePossition = "margin-right:-5%;";
                    }
                    else{
                        if(puntos<300){
                            $scope.imagen= 'url(css/img/titan.jpg)';
                            setCircle(puntos,200);
                            $scope.perfil = "Titan  "+ puntos.toString() + "pts" ;
                            $scope.profilePossition = "margin-right:30%;";
                        }
                        else{
                            if(puntos<400){
                                $scope.imagen= 'url(css/img/troesma.jpg)';
                                setCircle(puntos,300);
                                $scope.perfil = "Troesma  "+ puntos.toString() + "pts" ;
                                $scope.profilePossition = "margin-right:-10%;";
                            }
                            else{
                                if(puntos>=400){
                                    $scope.imagen= 'url(css/img/lince.jpg)';

                                        }
                                    }
                                }
                            }
                        }
                }
            
        });
            
        //Funcion para vaciar el array de amigos y poner 0 en cada columna y asi manejar los puntos antes de ser mandados
        function emptyArray(list){
            for (i = 0; i < list.length; i++) { 
                list[i] = 0;
            }
            return list;
        }
        
        
        
        
        
        function setCircle(num, resta){
            puntos=num-resta;
            $('.circulo').circleProgress({value: puntos/100,fill: {gradient: ['#000000', '#000000']},startAngle: -1.6,thickness: 20});
        }
        
        function mover(){
            window.location.href = '#friends';
        }
    </script>

</body>

</html>